/* Import: Power Grotesk */
@font-face {
    font-family: "Power Grotesk";
    src: local("Power Grotesk UltraBold"),
         url('../fonts/power-grotesk/PowerGrotesk-UltraBold.woff2'),
         url('../fonts/power-grotesk/PowerGrotesk-UltraBold.woff');
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* Import: Mabry Pro */
@font-face {
    font-family: "Mabry Pro";
    src: local("Mabry Pro Regular"),
         url('../fonts/mabry-pro/MabryPro-Regular.woff2'),
         url('../fonts/mabry-pro/MabryPro-Regular.woff');
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: "Mabry Pro";
    src: local("Mabry Pro Bold"),
         url('../fonts/mabry-pro/MabryPro-Bold.woff2'),
         url('../fonts/mabry-pro/MabryPro-Bold.woff');
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}